/SchoolManagement-Server/build/
/SchoolManagement-CommonLib/dist/
/SchoolManagement-CommonLib/build/
/SchoolManagement-ValidationLibrary/nbproject/private/
/SchoolManagement-ValidationLibrary/dist/
/SchoolManagement-ValidationLibrary/build/
/SchoolManagement-Client/nbproject/private/
/SchoolManagement-Client/build/
/SchoolManagement-Server/dist/
/SchoolManagement-Client/dist/
