/SchoolManagement-Server/build/
/SchoolManagement-CommonLib/dist/
/SchoolManagement-CommonLib/build/
/SchoolManagement-ValidationLibrary/nbproject/private/
/SchoolManagement-ValidationLibrary/dist/
/SchoolManagement-ValidationLibrary/build/
